.hero{
    font-size: 2rem;
    padding: 1rem 1rem;
    text-align: center;
    background-color:rgb(174, 185, 74);
    height: 10vh;
}  

body{
    margin:0;
    
}


*{
    font-style: italic;
    font-family: cursive;
    color: rgb(36, 28, 28);
}

.footer{
    font-size: large;
    padding: 1rem 1rem;
    text-align: center;
    background-color:rgb(174, 185, 74);
    height: 10vh;
    bottom:0;
    position:fixed;
    width:100%;
}

main{
    margin: auto;
    max-width: 60%;
}

textarea {
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    box-sizing:border-box;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 1rem;
}


button {
    background-color:rgb(174, 185, 74);
    border: none;
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-family: 'Kalam', cursive;
    font-size: large;
    align-items: center;
    margin:1rem 0rem;
}

.emoji{
    margin: 1rem 0rem;
    padding-top: 1rem;
}

#translate-output {
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    border: 1px solid black;
    padding: 2rem;
    font-size: large;
    margin:1rem auto;
}

p{
    align-items: center;
    width: 50%;
    margin: auto;
    padding-top: 0.5rem;

}




